@font-face {
  font-family: 'mv-waheed';

  src: url('../fonts/mv-waheed.otf') format("opentype");
}

@font-face {
  font-family: 'mv-faseyha';

  src: url('../fonts/mv-faseyha.otf') format("opentype");
}

@font-face {
  font-family: 'mv-aaamu-fk';

  src: url('../fonts/mv-aaamu-fk.ttf') format("truetype");
}

a {
  color: #006d46;
}

a:hover {
    text-decoration: underline;
  }

.font-waheed {
  font-family: 'mv-waheed';
  font-weight: normal !important;
  font-style: normal !important;
  font-variant: normal !important;
  direction: rtl;
}

.font-faseyha {
  font-family: 'mv-faseyha';
  font-weight: normal !important;
  font-style: normal !important;
  font-variant: normal !important;
  direction: rtl;
}

.font-aaamu-fk {
  font-family: 'mv-aaamu-fk';
  font-weight: normal !important;
  font-style: normal !important;
  font-variant: normal !important;
  direction: rtl;
  line-height: 1.7em;
}

.ltr {
  direction: ltr;
}

body {
  font-family: 'Roboto', sans-serif;
  -moz-osx-font-smoothing: grayscale;
  background: #f3f7f4;
}

::-moz-selection {
  background: #d5ecdc;
  color: #25694d;
}

::selection {
  background: #d5ecdc;
  color: #25694d;
}

header {
  background-color: #fff;
}

header .header-space {
  height: 78px;
  background: #f3f7f4;
}

header .main-nav {
  z-index: 9999;
  background-color: #fff;
  transition: box-shadow 0.3s ease;
  box-shadow: 0 0 89px rgb(0 14 2 / 18%);
}

header .main-nav .logo {
  padding: 10px 0 10px 0;
  transition: width 0.3s ease;
}

header .main-nav .logo img {
  width: 60px;
  transition: width 0.3s ease;
}

header.header-fixed .main-nav .logo img {
  width: 50px;
}

header .main-nav nav {
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
}

header .main-nav nav a {
  font-family: 'mv-aaamu-fk';
  font-weight: normal !important;
  font-style: normal !important;
  font-variant: normal !important;
  direction: rtl;
  color: #000;
  padding: 40px 20px 36px 20px;
  font-size: 22px;
  letter-spacing: 0.5px;
  border-bottom: solid 4px transparent;
  transition: padding 0.3s ease, color 0.3s ease;
}

header .main-nav nav a:hover {
  border-color: #006d46;
  color: #006d46;
  text-decoration: none;
}

header .nav-side {
  color: #444;
}

header .nav-side [data-menu-toggle] {
  color: #444;
  width: 55px;
  height: 55px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  transition: all 0.3s ease;
}

header .nav-side [data-menu-toggle]:hover {
  color: #006d46;
  background: #edf5ef;
  text-decoration: none;
}

header .dropdown {
  background: #ffffff;
  box-shadow: 1px 10px 50px rgb(0 0 0 / 12%);
}

header .dropdown a  {
  color: #000;
  font-family: 'mv-aaamu-fk';
  padding: 13px 26px 13px 100px;
  font-size: 20px;
  letter-spacing: 0.5px;
}

header .dropdown a:hover {
  background: #f3f7f4;
  text-decoration: none;
}

@media (min-width: 640px) {
  header .header-space {
    height: 112px;
  }

  header .main-nav .logo {
    padding: 19px 0 0 0;
  }

  header .main-nav {
    box-shadow: none;
  }

  header.header-fixed .main-nav {
    box-shadow: 0 0 89px rgb(0 14 2 / 18%);
  }

  header.header-fixed .main-nav .logo {
    width: 0px;
  }

  header .main-nav .logo img {
    width: 78px;
  }

  header.header-fixed .main-nav nav a {
    font-size: 20px;
    padding: 22px 20px 18px 20px;
  }
}

.section-bar {
  border-top: double 4px #cfdbd6;
  padding: 20px 0 30px 0;
}

.section-bar  .section-title {
  font-family: 'mv-aaamu-fk';
  font-size: 30px;
  color: #6b8170;
}

.post-card {
  display: block;
}

.post-card:hover {
    text-decoration: none;
  }

.post-card time {
    --text-opacity: 1;
    color: #718096;
    color: rgba(113, 128, 150, var(--text-opacity));
    text-align: right;
    display: block;
    margin-top: 0.75rem;
    font-size: 0.75rem;
  }

.post-card .title {
    font-family: 'mv-waheed';
    font-weight: normal !important;
    font-style: normal !important;
    font-variant: normal !important;
    direction: rtl;
    --text-opacity: 1;
    color: #2d3748;
    color: rgba(45, 55, 72, var(--text-opacity));
    margin-top: 0.25rem;
    transition-property: background-color, border-color, color, fill, stroke, opacity, box-shadow, transform;
    transition-duration: 200ms;
  }

.post-card img {
    -o-object-fit: cover;
       object-fit: cover;
    border-radius: 0.75rem;
  }

.post-card:hover .title {
    color: #006d46;
  }

.post-card h1.title {
    font-family: 'mv-aaamu-fk';
    font-weight: normal !important;
    font-style: normal !important;
    font-variant: normal !important;
    direction: rtl;
    font-size: 27px;
    line-height: 1.7em;
  }

@media (min-width: 640px) {

.post-card h1.title {
      font-size: 36px
  }
    }

.post-card h2.title {
    font-size: 25px;
  }

@media (min-width: 640px) {

.post-card h2.title {
      font-size: 30px
  }
    }

.post-card h3.title {
    font-size: 20px;
  }

@media (min-width: 640px) {

.post-card h3.title {
      font-size: 22px
  }
    }

.post-card h4.title {
    font-size: 16px;
  }

@media (min-width: 640px) {

.post-card h4.title {
      font-size: 18px
  }
    }

.post-card .excerpt {
    font-family: 'mv-faseyha';
    font-weight: normal !important;
    font-style: normal !important;
    font-variant: normal !important;
    direction: rtl;
    --text-opacity: 1;
    color: #718096;
    color: rgba(113, 128, 150, var(--text-opacity));
    margin-top: 0.75rem;
    font-size: 16px;
  }

.detail-content .content {
    --text-opacity: 1;
    color: #4a5568;
    color: rgba(74, 85, 104, var(--text-opacity));
    font-family: 'mv-faseyha';
    font-weight: normal !important;
    font-style: normal !important;
    font-variant: normal !important;
    direction: rtl;
    font-size: 18px;
    line-height: 2em;
    overflow: hidden;
  }

.detail-content .content p {
      margin-bottom: 2rem;
    }

.detail-content .content table, .detail-content .content iframe {
      width: 100% !important;
    }

.detail-content .content img, .detail-content .content figure {
      width: 100% !important;
      border-radius: 0.75rem;
    }

.detail-content-share {
  display: inline-flex;
  flex-direction: column;
}

.detail-content-share a {
    display: flex;
    width: 3rem;
    height: 3rem;
    --bg-opacity: 1;
    background-color: #fff;
    background-color: rgba(255, 255, 255, var(--bg-opacity));
    justify-content: center;
    align-items: center;
    border-radius: 9999px;
    margin-bottom: 1rem;
    transition-property: background-color, border-color, color, fill, stroke, opacity, box-shadow, transform;
    transition-duration: 500ms;
    font-size: 1.125rem;
  }

.detail-content-share a:hover {
      background: #d4e5d8;
      text-decoration: none;
    }

.detail-comment #reply-title {
    display: none;
  }

.detail-comment textarea {
    max-width: 600px;
  }

.detail-comment input[type="submit"] {
    padding: 13px 20px;
    border-radius: 14px;
    background: #dbe5dd;
    color: #556a5b;
    font-weight: bold;
    margin-top: 14px;
    cursor: pointer;
  }

.detail-comment input[type="submit"]:hover {
      background: #cfe3d4;
    }

.detail-comment .comment-form-cookies-consent {
    display: none;
  }

.pagination-block {
  display: flex;
  justify-content: center;
}

.pagination-block .page-numbers {
    padding-left: 1rem;
    padding-right: 1rem;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    border-radius: 0.75rem;
    margin-left: 0.25rem;
    margin-right: 0.25rem;
    font-weight: 500;
  }

.pagination-block .page-numbers.current {
    background: #c7e1cd;
  }

.pagination-block a.page-numbers {
    --bg-opacity: 1;
    background-color: #fff;
    background-color: rgba(255, 255, 255, var(--bg-opacity));
  }

.pagination-block a.page-numbers:hover {
      background: #c7e1cd;
      text-decoration: none;
    }
