@font-face {
    font-family: 'mv-waheed';
    src: url('../fonts/mv-waheed.otf') format("opentype");
}

@font-face {
    font-family: 'mv-faseyha';
    src: url('../fonts/mv-faseyha.otf') format("opentype");
}

@font-face {
    font-family: 'mv-aaamu-fk';
    src: url('../fonts/mv-aaamu-fk.ttf') format("truetype");
}

@define-mixin font-waheed {
    font-family: 'mv-waheed';
    font-weight: normal !important;
    font-style: normal !important;
    font-variant: normal !important;
    direction: rtl;
}

@define-mixin font-faseyha {
    font-family: 'mv-faseyha';
    font-weight: normal !important;
    font-style: normal !important;
    font-variant: normal !important;
    direction: rtl;
}

@define-mixin font-aaamu-fk {
    font-family: 'mv-aaamu-fk';
    font-weight: normal !important;
    font-style: normal !important;
    font-variant: normal !important;
    direction: rtl;
}

a {
  color: #006d46;

  &:hover {
    @apply underline;
  }
}

.font-waheed {
    @mixin font-waheed;
}

.font-faseyha {
    @mixin font-faseyha;
}

.font-aaamu-fk {
    @mixin font-aaamu-fk;
    line-height: 1.7em;
}

.ltr {
  direction: ltr;
}

body {
  font-family: 'Roboto', sans-serif;
  -moz-osx-font-smoothing: grayscale;
  background: #f3f7f4;
}

::selection {
  background: #d5ecdc;
  color: #25694d;
}

header {
  background-color: #fff;
}

header .header-space {
  height: 78px;
  background: #f3f7f4;
}

header .main-nav {
  z-index: 9999;
  background-color: #fff;
  transition: box-shadow 0.3s ease;
  box-shadow: 0 0 89px rgb(0 14 2 / 18%);
}

header .main-nav .logo {
  padding: 10px 0 10px 0;
  transition: width 0.3s ease;
}

header .main-nav .logo img {
  width: 60px;
  transition: width 0.3s ease;
}
header.header-fixed .main-nav .logo img {
  width: 50px;
}

header .main-nav nav {
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
}

header .main-nav nav a {
  font-family: 'mv-aaamu-fk';
  font-weight: normal !important;
  font-style: normal !important;
  font-variant: normal !important;
  direction: rtl;
  color: #000;
  padding: 40px 20px 36px 20px;
  font-size: 22px;
  letter-spacing: 0.5px;
  border-bottom: solid 4px transparent;
  transition: padding 0.3s ease, color 0.3s ease;
}
header .main-nav nav a:hover {
  border-color: #006d46;
  color: #006d46;
  text-decoration: none;
}

header .nav-side {
  color: #444;
}
header .nav-side [data-menu-toggle] {
  color: #444;
  width: 55px;
  height: 55px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  transition: all 0.3s ease;
}
header .nav-side [data-menu-toggle]:hover {
  color: #006d46;
  background: #edf5ef;
  text-decoration: none;
}

header .dropdown {
  background: #ffffff;
  box-shadow: 1px 10px 50px rgb(0 0 0 / 12%);
}

header .dropdown a  {
  color: #000;
  font-family: 'mv-aaamu-fk';
  padding: 13px 26px 13px 100px;
  font-size: 20px;
  letter-spacing: 0.5px;
}
header .dropdown a:hover {
  background: #f3f7f4;
  text-decoration: none;
}
@screen sm {
  header .header-space {
    height: 112px;
  }
  header .main-nav .logo {
    padding: 19px 0 0 0;
  }
  header .main-nav {
    box-shadow: none;
  }
  header.header-fixed .main-nav {
    box-shadow: 0 0 89px rgb(0 14 2 / 18%);
  }
  header.header-fixed .main-nav .logo {
    width: 0px;
  }
  header .main-nav .logo img {
    width: 78px;
  }
  header.header-fixed .main-nav nav a {
    font-size: 20px;
    padding: 22px 20px 18px 20px;
  }
}

.section-bar {
  border-top: double 4px #cfdbd6;
  padding: 20px 0 30px 0;
}

.section-bar  .section-title {
  font-family: 'mv-aaamu-fk';
  font-size: 30px;
  color: #6b8170;
}


.post-card {
  @apply block;

  &:hover {
    text-decoration: none;
  }

  time {
    @apply text-gray-600 text-right block mt-3 text-xs;
  }

  .title {
    @mixin font-waheed;
    @apply text-gray-800 mt-1 transition duration-200;
  }

  img {
    object-fit: cover;
    @apply rounded-xl;
  }

  &:hover .title {
    color: #006d46;
  }

  h1.title, {
    @mixin font-aaamu-fk;
    font-size: 27px;
    line-height: 1.7em;

    @screen sm {
      font-size: 36px;
    }
  }

  h2.title {
    font-size: 25px;

    @screen sm {
      font-size: 30px;
    }
  }

  h3.title {
    font-size: 20px;

    @screen sm {
      font-size: 22px;
    }
  }

  h4.title {
    font-size: 16px;

    @screen sm {
      font-size: 18px;
    }
  }

  .excerpt {
    @mixin font-faseyha;
    @apply text-gray-600 mt-3;
    font-size: 16px;
  }
}

.detail-content {
  .content {
    @apply text-gray-700;
    @mixin font-faseyha;
    font-size: 18px;
    line-height: 2em;
    overflow: hidden;

    p {
      @apply mb-8;
    }

    table, iframe {
      width: 100% !important;
    }

    img, figure {
      width: 100% !important;
      @apply rounded-xl;
    }
  }
}

.detail-content-share {
  @apply inline-flex flex-col;

  a {
    @apply flex w-12 h-12 bg-white justify-center items-center rounded-full mb-4
           transition duration-500 text-lg;

    &:hover {
      background: #d4e5d8;
      text-decoration: none;
    }
  }
}

.detail-comment {
  #reply-title {
    @apply hidden;
  }

  textarea {
    max-width: 600px;
  }

  input[type="submit"] {
    padding: 13px 20px;
    border-radius: 14px;
    background: #dbe5dd;
    color: #556a5b;
    font-weight: bold;
    margin-top: 14px;
    cursor: pointer;

    &:hover {
      background: #cfe3d4;
    }
  }

  .comment-form-cookies-consent {
    @apply hidden;
  }
}

.pagination-block {
  @apply flex justify-center;

  .page-numbers {
    @apply px-4 py-2 rounded-xl mx-1 font-medium;
  }
  .page-numbers.current {
      background: #c7e1cd;
  }
  a.page-numbers {
    @apply bg-white;

    &:hover {
      background: #c7e1cd;
      @apply no-underline;
    }
  }
}
